<settings>
  <category label="30000">
    <setting label="30131" id="menu_first_addon" type="addon" default="" addontype="xbmc.python.pluginsource"  multiselect="false" />
    <setting label="30010" type="lsep"/>
    <setting label="30011" type="bool" id="date" default="false"/>
    <setting label="30012" type="bool" id="calendar_nameDay" default="false"/>
    <setting label="30013" type="bool" id="vip" default="false"/>
    <setting label="30014" subsetting="true" type="text" id="username" visible="eq(-1,true)"/>
    <setting label="30015" subsetting="true" type="text" option="hidden" id="password" visible="eq(-2,true)"/>
    <setting label="30016" type="lsep"/>
    <setting label="30017" type="bool" id="skin_reload" default="false"/>
    <setting label="30018" type="bool" id="debug_toggle_skin" default="false"/>
    <setting label="30019" type="bool" id="debug_toggle" default="false"/>
    <setting label="30020" type="lsep"/>
    <setting label="30021" type="number" id="rating" default="44"/>
    <setting label="30022" type="text" id="rating_color" default="button_focus"/>
    <setting label="30023" type="text" id="rating_font" default="font20_title"/>
    <setting label="30024" type="lsep"/>
    <setting label="30025" type="bool" id="wft" default="false"/>
  </category>
  <category label="30100">
    <setting label="30127" type="slider" id="menu_nums" default="1" range="1,9" option="int" />
    <setting label="30101" type="lsep"/>
    <setting label="30128" id="menu_first_name" type="text"/>
    <setting label="30129" id="menu_first_id" type="text"/>
    <setting label="30130" id="menu_first_icon" type="select" lvalues="30020|30021|30022|30023|30024|30025|30026|30027|30028|30029|30030|30031|30032|30033|30034|30035" />
    <setting label="30102" type="lsep"/>
    <setting label="30128" id="menu_second_name" type="text" visible="gt(-6,1)"/>
    <setting label="30129" id="menu_second_id" type="text" visible="gt(-7,1)"/>
    <setting label="30130" id="menu_second_icon" type="select" lvalues="30020|30021|30022|30023|30024|30025|30026|30027|30028|30029|30030|30031|30032|30033|30034|30035" visible="gt(-8,1)"/>
    <setting label="30103" type="lsep"/>
    <setting label="30128" id="menu_third_name" type="text" visible="gt(-10,2)"/>
    <setting label="30129" id="menu_third_id" type="text" visible="gt(-11,2)"/>
    <setting label="30130" id="menu_third_icon" type="select" lvalues="30020|30021|30022|30023|30024|30025|30026|30027|30028|30029|30030|30031|30032|30033|30034|30035" visible="gt(-12,2)"/>
    <setting label="30104" type="lsep"/>
    <setting label="30128" id="menu_fourth_name" type="text" visible="gt(-14,3)"/>
    <setting label="30129" id="menu_fourth_id" type="text" visible="gt(-15,3)"/>
    <setting label="30130" id="menu_fourth_icon" type="select" lvalues="30020|30021|30022|30023|30024|30025|30026|30027|30028|30029|30030|30031|30032|30033|30034|30035" visible="gt(-16,3)"/>
    <setting label="30105" type="lsep"/>
    <setting label="30128" id="menu_fifth_name" type="text" visible="gt(-18,4)"/>
    <setting label="30129" id="menu_fifth_id" type="text" visible="gt(-19,4)"/>
    <setting label="30130" id="menu_fifth_icon" type="select" lvalues="30020|30021|30022|30023|30024|30025|30026|30027|30028|30029|30030|30031|30032|30033|30034|30035" visible="gt(-20,4)"/>
    <setting label="30106" type="lsep"/>
    <setting label="30128" id="menu_sixth_name" type="text" visible="gt(-22,5)"/>
    <setting label="30129" id="menu_sixth_id" type="text" visible="gt(-23,5)"/>
    <setting label="30130" id="menu_sixth_icon" type="select" lvalues="30020|30021|30022|30023|30024|30025|30026|30027|30028|30029|30030|30031|30032|30033|30034|30035" visible="gt(-24,5)"/>
    <setting label="30107" type="lsep"/>
    <setting label="30128" id="menu_seventh_name" type="text" visible="gt(-26,6)"/>
    <setting label="30129" id="menu_seventh_id" type="text" visible="gt(-27,6)"/>
    <setting label="30130" id="menu_seventh_icon" type="select" lvalues="30020|30021|30022|30023|30024|30025|30026|30027|30028|30029|30030|30031|30032|30033|30034|30035" visible="gt(-28,6)"/>
    <setting label="30108" type="lsep"/>
    <setting label="30128" id="menu_eighth_name" type="text" visible="gt(-30,7)"/>
    <setting label="30129" id="menu_eighth_id" type="text" visible="gt(-31,7)"/>
    <setting label="30130" id="menu_eighth_icon" type="select" lvalues="30020|30021|30022|30023|30024|30025|30026|30027|30028|30029|30030|30031|30032|30033|30034|30035" visible="gt(-32,7)"/>
    <setting label="30109" type="lsep"/>
    <setting label="30128" id="menu_nineth_name" type="text" visible="gt(-34,8)"/>
    <setting label="30129" id="menu_nineth_id" type="text" visible="gt(-35,8)"/>
    <setting label="30130" id="menu_nineth_icon" type="select" lvalues="30020|30021|30022|30023|30024|30025|30026|30027|30028|30029|30030|30031|30032|30033|30034|30035" visible="gt(-36,8)"/>
  </category>
  <category label="30213">
    <setting label="30201" type="lsep"/>
    <setting label="30216" type="bool" id="widget_first" default="false"/>
    <setting label="30217" type="bool" id="widget_first_category" default="true" enable="eq(-1,true)"/>
    <setting label="30218" type="slider" id="widget_first_nums" default="1" range="1,9" option="int" visible="eq(-2,true)" />
    <setting label="30210" id="widget_first_name_first" type="text" visible="eq(-3,true)"/>
    <setting label="30211" id="widget_first_node_name_first" type="text" visible="eq(-4,true)"/>
    <setting label="30212" id="widget_first_node_sort_first" type="select" lvalues="30219|30220|30221" default="1" visible="eq(-5,true)"/>
    <setting label="30210" id="widget_first_name_second" type="text" visible="gt(-4,1)"/>
    <setting label="30211" id="widget_first_node_name_second" type="text" visible="gt(-5,1)"/>
    <setting label="30212" id="widget_first_node_sort_second" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-6,1)"/>
    <setting label="30210" id="widget_first_name_third" type="text" visible="gt(-7,2)"/>
    <setting label="30211" id="widget_first_node_name_third" type="text" visible="gt(-8,2)"/>
    <setting label="30212" id="widget_first_node_sort_third" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-9,2)"/>
    <setting label="30210" id="widget_first_name_fourth" type="text" visible="gt(-10,3)"/>
    <setting label="30211" id="widget_first_node_name_fourth" type="text" visible="gt(-11,3)"/>
    <setting label="30212" id="widget_first_node_sort_fourth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-12,3)"/>
    <setting label="30210" id="widget_first_name_fifth" type="text" visible="gt(-13,4)"/>
    <setting label="30211" id="widget_first_node_name_fifth" type="text" visible="gt(-14,4)"/>
    <setting label="30212" id="widget_first_node_sort_fifth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-15,4)"/>
    <setting label="30210" id="widget_first_name_sixth" type="text" visible="gt(-16,5)"/>
    <setting label="30211" id="widget_first_node_name_sixth" type="text" visible="gt(-17,5)"/>
    <setting label="30212" id="widget_first_node_sort_sixth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-18,5)"/>
    <setting label="30210" id="widget_first_name_seventh" type="text" visible="gt(-19,6)"/>
    <setting label="30211" id="widget_first_node_name_seventh" type="text" visible="gt(-20,6)"/>
    <setting label="30212" id="widget_first_node_sort_seventh" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-21,6)"/>
    <setting label="30210" id="widget_first_name_eight" type="text" visible="gt(-22,7)"/>
    <setting label="30211" id="widget_first_node_name_eight" type="text" visible="gt(-23,7)"/>
    <setting label="30212" id="widget_first_node_sort_eight" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-24,7)"/>
    <setting label="30210" id="widget_first_name_nineth" type="text" visible="gt(-25,8)"/>
    <setting label="30211" id="widget_first_node_name_nineth" type="text" visible="gt(-26,8)"/>
    <setting label="30212" id="widget_first_node_sort_nineth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-27,8)"/>
    <setting label="30202" type="lsep"/>
    <setting label="30216" type="bool" id="widget_second" default="false"/>
    <setting label="30217" type="bool" id="widget_second_category" default="true" enable="eq(-1,true)"/>
    <setting label="30218" type="slider" id="widget_second_nums" default="1" range="1,9" option="int" visible="eq(-2,true)" />
    <setting label="30210" id="widget_second_name_first" type="text" visible="eq(-3,true)"/>
    <setting label="30211" id="widget_second_node_name_first" type="text" visible="eq(-4,true)"/>
    <setting label="30212" id="widget_second_node_sort_first" type="select" lvalues="30219|30220|30221" default="1" visible="eq(-5,true)"/>
    <setting label="30210" id="widget_second_name_second" type="text" visible="gt(-4,1)"/>
    <setting label="30211" id="widget_second_node_name_second" type="text" visible="gt(-5,1)"/>
    <setting label="30212" id="widget_second_node_sort_second" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-6,1)"/>
    <setting label="30210" id="widget_second_name_third" type="text" visible="gt(-7,2)"/>
    <setting label="30211" id="widget_second_node_name_third" type="text" visible="gt(-8,2)"/>
    <setting label="30212" id="widget_second_node_sort_third" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-9,2)"/>
    <setting label="30210" id="widget_second_name_fourth" type="text" visible="gt(-10,3)"/>
    <setting label="30211" id="widget_second_node_name_fourth" type="text" visible="gt(-11,3)"/>
    <setting label="30212" id="widget_second_node_sort_fourth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-12,3)"/>
    <setting label="30210" id="widget_second_name_fifth" type="text" visible="gt(-13,4)"/>
    <setting label="30211" id="widget_second_node_name_fifth" type="text" visible="gt(-14,4)"/>
    <setting label="30212" id="widget_second_node_sort_fifth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-15,4)"/>
    <setting label="30210" id="widget_second_name_sixth" type="text" visible="gt(-16,5)"/>
    <setting label="30211" id="widget_second_node_name_sixth" type="text" visible="gt(-17,5)"/>
    <setting label="30212" id="widget_second_node_sort_sixth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-18,5)"/>
    <setting label="30210" id="widget_second_name_seventh" type="text" visible="gt(-19,6)"/>
    <setting label="30211" id="widget_second_node_name_seventh" type="text" visible="gt(-20,6)"/>
    <setting label="30212" id="widget_second_node_sort_seventh" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-21,6)"/>
    <setting label="30210" id="widget_second_name_eight" type="text" visible="gt(-22,7)"/>
    <setting label="30211" id="widget_second_node_name_eight" type="text" visible="gt(-23,7)"/>
    <setting label="30212" id="widget_second_node_sort_eight" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-24,7)"/>
    <setting label="30210" id="widget_second_name_nineth" type="text" visible="gt(-25,8)"/>
    <setting label="30211" id="widget_second_node_name_nineth" type="text" visible="gt(-26,8)"/>
    <setting label="30212" id="widget_second_node_sort_nineth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-27,8)"/>
    <setting label="30203" type="lsep"/>
    <setting label="30216" type="bool" id="widget_third" default="false"/>
    <setting label="30217" type="bool" id="widget_third_category" default="true" enable="eq(-1,true)"/>
    <setting label="30218" type="slider" id="widget_third_nums" default="1" range="1,9" option="int" visible="eq(-2,true)" />
    <setting label="30210" id="widget_third_name_first" type="text" visible="eq(-3,true)"/>
    <setting label="30211" id="widget_third_node_name_first" type="text" visible="eq(-4,true)"/>
    <setting label="30212" id="widget_third_node_sort_first" type="select" lvalues="30219|30220|30221" default="1" visible="eq(-5,true)"/>
    <setting label="30210" id="widget_third_name_second" type="text" visible="gt(-4,1)"/>
    <setting label="30211" id="widget_third_node_name_second" type="text" visible="gt(-5,1)"/>
    <setting label="30212" id="widget_third_node_sort_second" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-6,1)"/>
    <setting label="30210" id="widget_third_name_third" type="text" visible="gt(-7,2)"/>
    <setting label="30211" id="widget_third_node_name_third" type="text" visible="gt(-8,2)"/>
    <setting label="30212" id="widget_third_node_sort_third" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-9,2)"/>
    <setting label="30210" id="widget_third_name_fourth" type="text" visible="gt(-10,3)"/>
    <setting label="30211" id="widget_third_node_name_fourth" type="text" visible="gt(-11,3)"/>
    <setting label="30212" id="widget_third_node_sort_fourth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-12,3)"/>
    <setting label="30210" id="widget_third_name_fifth" type="text" visible="gt(-13,4)"/>
    <setting label="30211" id="widget_third_node_name_fifth" type="text" visible="gt(-14,4)"/>
    <setting label="30212" id="widget_third_node_sort_fifth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-15,4)"/>
    <setting label="30210" id="widget_third_name_sixth" type="text" visible="gt(-16,5)"/>
    <setting label="30211" id="widget_third_node_name_sixth" type="text" visible="gt(-17,5)"/>
    <setting label="30212" id="widget_third_node_sort_sixth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-18,5)"/>
    <setting label="30210" id="widget_third_name_seventh" type="text" visible="gt(-19,6)"/>
    <setting label="30211" id="widget_third_node_name_seventh" type="text" visible="gt(-20,6)"/>
    <setting label="30212" id="widget_third_node_sort_seventh" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-21,6)"/>
    <setting label="30210" id="widget_third_name_eight" type="text" visible="gt(-22,7)"/>
    <setting label="30211" id="widget_third_node_name_eight" type="text" visible="gt(-23,7)"/>
    <setting label="30212" id="widget_third_node_sort_eight" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-24,7)"/>
    <setting label="30210" id="widget_third_name_nineth" type="text" visible="gt(-25,8)"/>
    <setting label="30211" id="widget_third_node_name_nineth" type="text" visible="gt(-26,8)"/>
    <setting label="30212" id="widget_third_node_sort_nineth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-27,8)"/>
  </category>
  <category label="30214">
    <setting label="30204" type="lsep"/>
    <setting label="30216" type="bool" id="widget_fourth" default="false"/>
    <setting label="30217" type="bool" id="widget_fourth_category" default="true" enable="eq(-1,true)"/>
    <setting label="30218" type="slider" id="widget_fourth_nums" default="1" range="1,9" option="int" visible="eq(-2,true)" />
    <setting label="30210" id="widget_fourth_name_first" type="text" visible="eq(-3,true)"/>
    <setting label="30211" id="widget_fourth_node_name_first" type="text" visible="eq(-4,true)"/>
    <setting label="30212" id="widget_fourth_node_sort_first" type="select" lvalues="30219|30220|30221" default="1" visible="eq(-5,true)"/>
    <setting label="30210" id="widget_fourth_name_second" type="text" visible="gt(-4,1)"/>
    <setting label="30211" id="widget_fourth_node_name_second" type="text" visible="gt(-5,1)"/>
    <setting label="30212" id="widget_fourth_node_sort_second" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-6,1)"/>
    <setting label="30210" id="widget_fourth_name_third" type="text" visible="gt(-7,2)"/>
    <setting label="30211" id="widget_fourth_node_name_third" type="text" visible="gt(-8,2)"/>
    <setting label="30212" id="widget_fourth_node_sort_third" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-9,2)"/>
    <setting label="30210" id="widget_fourth_name_fourth" type="text" visible="gt(-10,3)"/>
    <setting label="30211" id="widget_fourth_node_name_fourth" type="text" visible="gt(-11,3)"/>
    <setting label="30212" id="widget_fourth_node_sort_fourth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-12,3)"/>
    <setting label="30210" id="widget_fourth_name_fifth" type="text" visible="gt(-13,4)"/>
    <setting label="30211" id="widget_fourth_node_name_fifth" type="text" visible="gt(-14,4)"/>
    <setting label="30212" id="widget_fourth_node_sort_fifth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-15,4)"/>
    <setting label="30210" id="widget_fourth_name_sixth" type="text" visible="gt(-16,5)"/>
    <setting label="30211" id="widget_fourth_node_name_sixth" type="text" visible="gt(-17,5)"/>
    <setting label="30212" id="widget_fourth_node_sort_sixth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-18,5)"/>
    <setting label="30210" id="widget_fourth_name_seventh" type="text" visible="gt(-19,6)"/>
    <setting label="30211" id="widget_fourth_node_name_seventh" type="text" visible="gt(-20,6)"/>
    <setting label="30212" id="widget_fourth_node_sort_seventh" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-21,6)"/>
    <setting label="30210" id="widget_fourth_name_eight" type="text" visible="gt(-22,7)"/>
    <setting label="30211" id="widget_fourth_node_name_eight" type="text" visible="gt(-23,7)"/>
    <setting label="30212" id="widget_fourth_node_sort_eight" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-24,7)"/>
    <setting label="30210" id="widget_fourth_name_nineth" type="text" visible="gt(-25,8)"/>
    <setting label="30211" id="widget_fourth_node_name_nineth" type="text" visible="gt(-26,8)"/>
    <setting label="30212" id="widget_fourth_node_sort_nineth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-27,8)"/>
    <setting label="30205" type="lsep"/>
    <setting label="30216" type="bool" id="widget_fifth" default="false"/>
    <setting label="30217" type="bool" id="widget_fifth_category" default="true" enable="eq(-1,true)"/>
    <setting label="30218" type="slider" id="widget_fifth_nums" default="1" range="1,9" option="int" visible="eq(-2,true)" />
    <setting label="30210" id="widget_fifth_name_first" type="text" visible="eq(-3,true)"/>
    <setting label="30211" id="widget_fifth_node_name_first" type="text" visible="eq(-4,true)"/>
    <setting label="30212" id="widget_fifth_node_sort_first" type="select" lvalues="30219|30220|30221" default="1" visible="eq(-5,true)"/>
    <setting label="30210" id="widget_fifth_name_second" type="text" visible="gt(-4,1)"/>
    <setting label="30211" id="widget_fifth_node_name_second" type="text" visible="gt(-5,1)"/>
    <setting label="30212" id="widget_fifth_node_sort_second" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-6,1)"/>
    <setting label="30210" id="widget_fifth_name_third" type="text" visible="gt(-7,2)"/>
    <setting label="30211" id="widget_fifth_node_name_third" type="text" visible="gt(-8,2)"/>
    <setting label="30212" id="widget_fifth_node_sort_third" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-9,2)"/>
    <setting label="30210" id="widget_fifth_name_fourth" type="text" visible="gt(-10,3)"/>
    <setting label="30211" id="widget_fifth_node_name_fourth" type="text" visible="gt(-11,3)"/>
    <setting label="30212" id="widget_fifth_node_sort_fourth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-12,3)"/>
    <setting label="30210" id="widget_fifth_name_fifth" type="text" visible="gt(-13,4)"/>
    <setting label="30211" id="widget_fifth_node_name_fifth" type="text" visible="gt(-14,4)"/>
    <setting label="30212" id="widget_fifth_node_sort_fifth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-15,4)"/>
    <setting label="30210" id="widget_fifth_name_sixth" type="text" visible="gt(-16,5)"/>
    <setting label="30211" id="widget_fifth_node_name_sixth" type="text" visible="gt(-17,5)"/>
    <setting label="30212" id="widget_fifth_node_sort_sixth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-18,5)"/>
    <setting label="30210" id="widget_fifth_name_seventh" type="text" visible="gt(-19,6)"/>
    <setting label="30211" id="widget_fifth_node_name_seventh" type="text" visible="gt(-20,6)"/>
    <setting label="30212" id="widget_fifth_node_sort_seventh" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-21,6)"/>
    <setting label="30210" id="widget_fifth_name_eight" type="text" visible="gt(-22,7)"/>
    <setting label="30211" id="widget_fifth_node_name_eight" type="text" visible="gt(-23,7)"/>
    <setting label="30212" id="widget_fifth_node_sort_eight" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-24,7)"/>
    <setting label="30210" id="widget_fifth_name_nineth" type="text" visible="gt(-25,8)"/>
    <setting label="30211" id="widget_fifth_node_name_nineth" type="text" visible="gt(-26,8)"/>
    <setting label="30212" id="widget_fifth_node_sort_nineth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-27,8)"/>
    <setting label="30206" type="lsep"/>
    <setting label="30216" type="bool" id="widget_sixth" default="false"/>
    <setting label="30217" type="bool" id="widget_sixth_category" default="true" enable="eq(-1,true)"/>
    <setting label="30218" type="slider" id="widget_sixth_nums" default="1" range="1,9" option="int" visible="eq(-2,true)" />
    <setting label="30210" id="widget_sixth_name_first" type="text" visible="eq(-3,true)"/>
    <setting label="30211" id="widget_sixth_node_name_first" type="text" visible="eq(-4,true)"/>
    <setting label="30212" id="widget_sixth_node_sort_first" type="select" lvalues="30219|30220|30221" default="1" visible="eq(-5,true)"/>
    <setting label="30210" id="widget_sixth_name_second" type="text" visible="gt(-4,1)"/>
    <setting label="30211" id="widget_sixth_node_name_second" type="text" visible="gt(-5,1)"/>
    <setting label="30212" id="widget_sixth_node_sort_second" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-6,1)"/>
    <setting label="30210" id="widget_sixth_name_third" type="text" visible="gt(-7,2)"/>
    <setting label="30211" id="widget_sixth_node_name_third" type="text" visible="gt(-8,2)"/>
    <setting label="30212" id="widget_sixth_node_sort_third" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-9,2)"/>
    <setting label="30210" id="widget_sixth_name_fourth" type="text" visible="gt(-10,3)"/>
    <setting label="30211" id="widget_sixth_node_name_fourth" type="text" visible="gt(-11,3)"/>
    <setting label="30212" id="widget_sixth_node_sort_fourth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-12,3)"/>
    <setting label="30210" id="widget_sixth_name_fifth" type="text" visible="gt(-13,4)"/>
    <setting label="30211" id="widget_sixth_node_name_fifth" type="text" visible="gt(-14,4)"/>
    <setting label="30212" id="widget_sixth_node_sort_fifth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-15,4)"/>
    <setting label="30210" id="widget_sixth_name_sixth" type="text" visible="gt(-16,5)"/>
    <setting label="30211" id="widget_sixth_node_name_sixth" type="text" visible="gt(-17,5)"/>
    <setting label="30212" id="widget_sixth_node_sort_sixth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-18,5)"/>
    <setting label="30210" id="widget_sixth_name_seventh" type="text" visible="gt(-19,6)"/>
    <setting label="30211" id="widget_sixth_node_name_seventh" type="text" visible="gt(-20,6)"/>
    <setting label="30212" id="widget_sixth_node_sort_seventh" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-21,6)"/>
    <setting label="30210" id="widget_sixth_name_eight" type="text" visible="gt(-22,7)"/>
    <setting label="30211" id="widget_sixth_node_name_eight" type="text" visible="gt(-23,7)"/>
    <setting label="30212" id="widget_sixth_node_sort_eight" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-24,7)"/>
    <setting label="30210" id="widget_sixth_name_nineth" type="text" visible="gt(-25,8)"/>
    <setting label="30211" id="widget_sixth_node_name_nineth" type="text" visible="gt(-26,8)"/>
    <setting label="30212" id="widget_sixth_node_sort_nineth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-27,8)"/>
  </category>
  <category label="30215">
    <setting label="30207" type="lsep"/>
    <setting label="30216" type="bool" id="widget_seventh" default="false"/>
    <setting label="30217" type="bool" id="widget_seventh_category" default="true" enable="eq(-1,true)"/>
    <setting label="30218" type="slider" id="widget_seventh_nums" default="1" range="1,9" option="int" visible="eq(-2,true)" />
    <setting label="30210" id="widget_seventh_name_first" type="text" visible="eq(-3,true)"/>
    <setting label="30211" id="widget_seventh_node_name_first" type="text" visible="eq(-4,true)"/>
    <setting label="30212" id="widget_seventh_node_sort_first" type="select" lvalues="30219|30220|30221" default="1" visible="eq(-5,true)"/>
    <setting label="30210" id="widget_seventh_name_second" type="text" visible="gt(-4,1)"/>
    <setting label="30211" id="widget_seventh_node_name_second" type="text" visible="gt(-5,1)"/>
    <setting label="30212" id="widget_seveth_node_sort_second" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-6,1)"/>
    <setting label="30210" id="widget_seventh_name_third" type="text" visible="gt(-7,2)"/>
    <setting label="30211" id="widget_seventh_node_name_third" type="text" visible="gt(-8,2)"/>
    <setting label="30212" id="widget_seveth_node_sort_third" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-9,2)"/>
    <setting label="30210" id="widget_seventh_name_fourth" type="text" visible="gt(-10,3)"/>
    <setting label="30211" id="widget_seventh_node_name_fourth" type="text" visible="gt(-11,3)"/>
    <setting label="30212" id="widget_seventh_node_sort_fourth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-12,3)"/>
    <setting label="30210" id="widget_seventh_name_fifth" type="text" visible="gt(-13,4)"/>
    <setting label="30211" id="widget_seventh_node_name_fifth" type="text" visible="gt(-14,4)"/>
    <setting label="30212" id="widget_seveth_node_sort_fifth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-15,4)"/>
    <setting label="30210" id="widget_seventh_name_sixth" type="text" visible="gt(-16,5)"/>
    <setting label="30211" id="widget_seventh_node_name_sixth" type="text" visible="gt(-17,5)"/>
    <setting label="30212" id="widget_seventh_node_sort_sixth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-18,5)"/>
    <setting label="30210" id="widget_seventh_name_seventh" type="text" visible="gt(-19,6)"/>
    <setting label="30211" id="widget_seventh_node_name_seventh" type="text" visible="gt(-20,6)"/>
    <setting label="30212" id="widget_seventh_node_sort_seventh" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-21,6)"/>
    <setting label="30210" id="widget_seventh_name_eight" type="text" visible="gt(-22,7)"/>
    <setting label="30211" id="widget_seventh_node_name_eight" type="text" visible="gt(-23,7)"/>
    <setting label="30212" id="widget_seventh_node_sort_eight" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-24,7)"/>
    <setting label="30210" id="widget_seventh_name_nineth" type="text" visible="gt(-25,8)"/>
    <setting label="30211" id="widget_seventh_node_name_nineth" type="text" visible="gt(-26,8)"/>
    <setting label="30212" id="widget_seventh_node_sort_nineth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-27,8)"/>
    <setting label="30208" type="lsep"/>
    <setting label="30216" type="bool" id="widget_eighth" default="false"/>
    <setting label="30217" type="bool" id="widget_eighth_category" default="true" enable="eq(-1,true)"/>
    <setting label="30218" type="slider" id="widget_eighth_nums" default="1" range="1,9" option="int" visible="eq(-2,true)" />
    <setting label="30210" id="widget_eighth_name_first" type="text" visible="eq(-3,true)"/>
    <setting label="30211" id="widget_eighth_node_name_first" type="text" visible="eq(-4,true)"/>
    <setting label="30212" id="widget_eighth_node_sort_first" type="select" lvalues="30219|30220|30221" default="1" visible="eq(-5,true)"/>
    <setting label="30210" id="widget_eighth_name_second" type="text" visible="gt(-4,1)"/>
    <setting label="30211" id="widget_eighth_node_name_second" type="text" visible="gt(-5,1)"/>
    <setting label="30212" id="widget_eighth_node_sort_second" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-6,1)"/>
    <setting label="30210" id="widget_eighth_name_third" type="text" visible="gt(-7,2)"/>
    <setting label="30211" id="widget_eighth_node_name_third" type="text" visible="gt(-8,2)"/>
    <setting label="30212" id="widget_eighth_node_sort_third" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-9,2)"/>
    <setting label="30210" id="widget_eighth_name_fourth" type="text" visible="gt(-10,3)"/>
    <setting label="30211" id="widget_eighth_node_name_fourth" type="text" visible="gt(-11,3)"/>
    <setting label="30212" id="widget_eighth_node_sort_fourth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-12,3)"/>
    <setting label="30210" id="widget_eighth_name_fifth" type="text" visible="gt(-13,4)"/>
    <setting label="30211" id="widget_eighth_node_name_fifth" type="text" visible="gt(-14,4)"/>
    <setting label="30212" id="widget_eighth_node_sort_fifth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-15,4)"/>
    <setting label="30210" id="widget_eighth_name_sixth" type="text" visible="gt(-16,5)"/>
    <setting label="30211" id="widget_eighth_node_name_sixth" type="text" visible="gt(-17,5)"/>
    <setting label="30212" id="widget_eighth_node_sort_sixth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-18,5)"/>
    <setting label="30210" id="widget_eighth_name_seventh" type="text" visible="gt(-19,6)"/>
    <setting label="30211" id="widget_eighth_node_name_seventh" type="text" visible="gt(-20,6)"/>
    <setting label="30212" id="widget_eighth_node_sort_seventh" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-21,6)"/>
    <setting label="30210" id="widget_eighth_name_eight" type="text" visible="gt(-22,7)"/>
    <setting label="30211" id="widget_eighth_node_name_eight" type="text" visible="gt(-23,7)"/>
    <setting label="30212" id="widget_eighth_node_sort_eight" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-24,7)"/>
    <setting label="30210" id="widget_eighth_name_nineth" type="text" visible="gt(-25,8)"/>
    <setting label="30211" id="widget_eighth_node_name_nineth" type="text" visible="gt(-26,8)"/>
    <setting label="30212" id="widget_eighth_node_sort_nineth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-27,8)"/>
    <setting label="30209" type="lsep"/>
    <setting label="30216" type="bool" id="widget_nineth" default="false"/>
    <setting label="30217" type="bool" id="widget_nineth_category" default="true" enable="eq(-1,true)"/>
    <setting label="30218" type="slider" id="widget_nineth_nums" default="1" range="1,9" option="int" visible="eq(-2,true)" />
    <setting label="30210" id="widget_nineth_name_first" type="text" visible="eq(-3,true)"/>
    <setting label="30211" id="widget_nineth_node_name_first" type="text" visible="eq(-4,true)"/>
    <setting label="30212" id="widget_nineth_node_sort_first" type="select" lvalues="30219|30220|30221" default="1" visible="eq(-5,true)"/>
    <setting label="30210" id="widget_nineth_name_second" type="text" visible="gt(-4,1)"/>
    <setting label="30211" id="widget_nineth_node_name_second" type="text" visible="gt(-5,1)"/>
    <setting label="30212" id="widget_nineth_node_sort_second" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-6,1)"/>
    <setting label="30210" id="widget_nineth_name_third" type="text" visible="gt(-7,2)"/>
    <setting label="30211" id="widget_nineth_node_name_third" type="text" visible="gt(-8,2)"/>
    <setting label="30212" id="widget_nineth_node_sort_third" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-9,2)"/>
    <setting label="30210" id="widget_nineth_name_fourth" type="text" visible="gt(-10,3)"/>
    <setting label="30211" id="widget_nineth_node_name_fourth" type="text" visible="gt(-11,3)"/>
    <setting label="30212" id="widget_nineth_node_sort_fourth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-12,3)"/>
    <setting label="30210" id="widget_nineth_name_fifth" type="text" visible="gt(-13,4)"/>
    <setting label="30211" id="widget_nineth_node_name_fifth" type="text" visible="gt(-14,4)"/>
    <setting label="30212" id="widget_nineth_node_sort_fifth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-15,4)"/>
    <setting label="30210" id="widget_nineth_name_sixth" type="text" visible="gt(-16,5)"/>
    <setting label="30211" id="widget_nineth_node_name_sixth" type="text" visible="gt(-17,5)"/>
    <setting label="30212" id="widget_nineth_node_sort_sixth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-18,5)"/>
    <setting label="30210" id="widget_nineth_name_seventh" type="text" visible="gt(-19,6)"/>
    <setting label="30211" id="widget_nineth_node_name_seventh" type="text" visible="gt(-20,6)"/>
    <setting label="30212" id="widget_nineth_node_sort_seventh" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-21,6)"/>
    <setting label="30210" id="widget_nineth_name_eight" type="text" visible="gt(-22,7)"/>
    <setting label="30211" id="widget_nineth_node_name_eight" type="text" visible="gt(-23,7)"/>
    <setting label="30212" id="widget_nineth_node_sort_eight" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-24,7)"/>
    <setting label="30210" id="widget_nineth_name_nineth" type="text" visible="gt(-25,8)"/>
    <setting label="30211" id="widget_nineth_node_name_nineth" type="text" visible="gt(-26,8)"/>
    <setting label="30212" id="widget_nineth_node_sort_nineth" type="select" lvalues="30219|30220|30221" default="1" visible="gt(-27,8)"/>
  </category>
</settings>
